* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2b3033
}

.container {
    width: 100%;
    height: 100vh;
    padding: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.item {
    width: 50px;
    /*? Set the height according to width (No matter inc or dec)*/
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: rgb(156, 156, 250);
    box-shadow: 0px 0px 0px 15px #353f6d;

    transition: all 2s;
}

.item:nth-child(odd):hover {
    transition-timing-function: ease;
    translate: 90vw 0;
}

.item:nth-child(even):hover {
    translate: 90vw 0;
    transition-timing-function: ease-in;
}

/* .item:first-child:hover {
    transition-timing-function: ease-in;
    translate: 90vw 0;
} */