* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: palevioletred;
}

button {
    background: linear-gradient(to right, rgb(88, 88, 246), rgb(1, 255, 52));
    padding: 20px;
    border: none;
    border-radius: 20px;
    color: #fff;
    width: 100px;

    /*? Transition Properties  */
    transition-property: width, background-color, color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    /* transition-delay: 1s; */

    /*? Short Hand */
    transition: width 0.3sec ease-in-out 0s;
    transition: all 0.3sec ease-in-out 0s;
}

button:hover {
    width: 400px;
    background: aquamarine;
    color: brown;
}