body {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:link {
    background-color: rgb(96, 189, 119);
    padding: 20px;
    border-radius: 10%;
}

a:visited {
    background-color: blueviolet;
}

a:hover {
    background-color: aquamarine;
}

a:active {
    background-color: yellow;
}