/*! Specificity  */
/*? !important > inline css > id > class/pseudo class > element/pseudo elements  */
/*? 0 0 0 0 0  */

#para-id {
    color: blueviolet;
}

.para-class {
    color: #fb9191;
}

/*? 0 0 0 0 2 as we are using 2 elemets to apply property but it doesn't matter, how big right side value is then left side
/*? if its 1 or greater then it will implemented */
div p {
    color: #949ce6;

    /* highest priority */
    /* color: #fb9191 !important; */
}