.flex-container {
    width: 60%;
    height: 600px;
    margin: 0 auto;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgba(0, 0, 0, 0.16) 0px 0px 0px 3px;
    background: linear-gradient(to right, #514a9d, #24c6dc);
    color: #fff;

    /* Parent Properties */
    display: flex;
    /* flex-direction: column;
    flex-direction: column-reverse;
    flex-direction: row-reverse; */

    /* Horizontal Alignment Properties if flex-direction is row, once its column they behave for vertical direction*/
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    justify-content: center;
    /* justify-content: space-evenly; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */


    /* Vertical Alignment Properties if flex-direction is row, once its column they behave for horizontal direction*/
    align-items: flex-start;
    /* align-items: flex-end; */
    /* align-items: center; */
    /* align-items: stretch; */

    gap: 20px;
    flex-wrap: wrap;

    /*Applicable only when you have given property flex-wrap*/
    align-content: center;

    padding: 20px;
    overflow: auto;
}


.item {
    min-width: 100px;
    height: 100px;
    /* aspect-ratio: 1; */
    background: linear-gradient(to right top, #004d7a, #00bf72, #a8eb12);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgba(0, 0, 0, 0.16) 0px 0px 0px 3px;

    /* Each item take equal length and cover whole width */
    flex: 1;
}

/* .item-2 { */

/*Only property that childs have to move here and their*/
/* align-self: center; */

/* Grow and take full width */
/* flex-grow: 1; */

/* Shrinks 5times more than all others actual width*/
/* flex-shrink: 5; */

/* Overwrite the actual given width for that particular item*/
/* flex-basis: 300px; */
/* } */